/* GLOBAL */
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
}

.topbar {
    background-color: #5A73D9;
    height: 80px;
}

.nav-icon {
    width: 28px;
    cursor: pointer;
}

.header {
	text-align: center;
	color: #5A73D9;
	margin-top: 30px;
	font-size: 45px;
}

.theOuter {
    width: 1500px;
    height: 500px;
    margin: 40px auto;
    border: 2px solid #5A73D9;
    border-radius: 25px;
    padding: 40px;
    background-color: #f5f7ff;
}

.outer {
	height: 400px;
    background-color: #cfd7f4;
    border-radius: 25px;
    padding: 50px 20px;
    text-align: center;
}

.inner {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 1000px;
    margin: 0 auto;
}

.innerReview {
	background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}

.innerText {
    color: #5A73D9;
    font-size: 35px;
    margin: 10px 0;
}

.reviewB {
	width: 300px;
    display: block;
    margin: 50px auto 0 auto;
    padding: 10px 25px;
    background-color: #5A73D9;
    color: white;
    border-radius: 25px;
    font-size: 22px;
}

.reviewB:hover {
    background-color: #7d8ff0;
    color: white;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.backB {
    padding: 6px 18px;
    border: 2px solid #5A73D9;
    color: #5A73D9;
    background: transparent;
    border-radius: 20px;
    margin-left: 210px;
}

.backB:hover {
    background-color: #5A73D9;
    color: white;
}

.logoutB {
    padding: 6px 18px;
    border: 2px solid #5A73D9;
    color: #5A73D9;
    background: white;
    border-radius: 20px;
    margin-left: 1335px;
}

.logoutB:hover {
    background-color: #5A73D9;
    color: white;
}

.reviewHeader {
	color: black;#5A73D9;
	text-align: center;
}
.reviewT {
    text-align: center;
    color: #5A73D9;
    font-weight: bold;
}

.rowText {
	display: flex;
	justify-content: space-between;
    margin: 15px 0;
    color: #5A73D9;
    font-size: 20px;
    margin-bottom: 15px;
}


.reviewBT {
  	 background-color: #5A73D9;
  	 color: white;
  	 margin-bottom: 15px;
}

.reviewBT:hover {
    background-color: #7d8ff0;
    color: white;
}

.suspendB {
	width: 120px;
    background-color: #e58a2f;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 560px;
    margin-top: 35px;

}

.suspendB:hover {
	background-color: #F5BB78;
	color: white;
}

.deleteB {
	width: 120px;
    background-color: #e14b4b;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 25px;
}

.deleteB:hover {
	background-color: #F07773;
	color: white;
}